---
---

@import 'bootstrap/bootstrap';

@font-face {
  font-family: ABeeZee;
  font-weight: normal;
  src: url("/font/ABeeZee-Regular.otf") format("opentype");
}

@font-face {
  font-family: Quicksand;
  font-weight: bold;
  src: url("/font/Quicksand-Bold.otf") format("opentype");
}

.screen_shot {
  margin-top: 20px;
  margin-bottom: 10px;
}

.screen_shot .caption {
  font-weight: bold;
  font-size: 120%;
}

body p {
  font-family:'ABeeZee', regular;
  font-size: 20px;
  line-height: 32px;
  margin-bottom: 20px;
}

body li {
  font-size: 20px;
  font-family:'ABeeZee', regular;
  line-height: 32px;
}

blockquote {
  margin-left: 2rem
}

.navbar-expand-lg .container {
  padding-left: 15px
}

h1, h2, h3, h4, h5, h6 {
  font-family:'Quicksand', bold;
  color: #6D3803;
}

.posts .content {
  margin-bottom: 20px;
  padding-bottom: 5px;
  border-bottom: 1px solid #f9d4b0;
}

.video-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.video-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.about img, .bio .author img {
  padding-top: 8px;
}

.also_available {
  padding-bottom: 25px;
  padding-top: 25px;
}

.bio .author {
  font-size: 24px;
  font-family:'ABeeZee', regular;
}

.find_me {
  font-family:'Quicksand', bold;
}

.place {
  padding-top: 12px;
}

body a {
  color: #E67E17;
}

body a:hover {
  color: #8F673F;
}

h1,
h2,
h3 {
  line-height: 50px;
}

h1 {
  font-size: 48.5px;
}

h2 {
  font-size: 41.5px;
}

h3 {
  font-size: 34.5px;
}

h4 {
  font-size: 27.5px;
}

h5 {
  font-size: 24px;
}

h6 {
  font-size: 21.9px;
}