<div class="bio">
  <div class="author">
    <div>
      <img class="rounded img-fluid" src="/img/profile_thumbnail.jpg" alt="profile" /> 
    </div>
    <div>Nic Schlueter</div>
  </div>

  <div class="also_available">
    <div class="find_me">Find me here too</div>
    <div class="place">
      <div>
        <a href="https://hireredrectangle.com">
          <img class="img-fluid" src="/img/red_rectangle.png" alt="Red Rectangle logo" />
        </a>
        <a class="description" href="https://hireredrectangle.com">
          Red Rectangle
        </a>
      </div>
    </div>

    <div class="place">
      <div>
        <a href="https://twitter.com/schlu">
          <img class="img-fluid" src="/img/twitter.png" alt="Twitter logo" />
        </a>
        <a class="description" href="https://twitter.com/schlu">
          Twitter
        </a>
      </div>
    </div>

    <div class="place">
      <div>
        <a href="https://schlu.org/atom.xml">
          <img class="img-fluid" src="/img/subscribe.png" alt="Subscribe" />
        </a>
        <a class="description" href="https://schlu.org/atom.xml">
          Subscribe
        </a>
      </div>
    </div>
  </div>
</div>